* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(99, 180, 247, 0.1);
    height: 130vh;
}

.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 140px;
}

.navbar .logo h2 {
    font-size: 1.6rem;
    color: #131313;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #424242;
}

.navbar ul li a:hover {
    color: #5661fc;
    transition: 0.2s;
}

/* BANNER SECTION  */
.banner-section {
    padding: 30px 140px 20px 140px;
}

.banner-infos {
    text-align: center;
    margin-bottom: 20px;
}

.banner-infos h1 {
    font-size: 2.2rem;
    color: #131313;
    margin-bottom: 10px;
}

.banner-infos p {
    font-size: 0.8rem;
    color: #727272;
    margin-bottom: 10px;
}

.banner-infos button {
    padding: 12px 20px;
    background-color: #5661fc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.banner-infos button:hover {
    background-color: #979dfc;
    transition: 0.2s;
}

.banner-image img {
    width: 100%;
}

/* QUICK LIST SECTION  */
.quick-list-section {
    height: 100vh;
    padding: 40px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.quick-list-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.quick-list-images img {
    width: 100%;
}
.quick-list-images img:hover{
    opacity: 0.6;
    transition: 0.2s;
}

.quick-list-infos h1 {
    font-size: 2.2rem;
    color: #131313;
    margin-bottom: 10px;
}

.quick-list-infos p {
    font-size: 0.8rem;
    color: #727272;
    margin-bottom: 10px;
}

.quick-list-infos button {
    padding: 12px 20px;
    background-color: #5661fc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.quick-list-infos button:hover {
    background-color: #979dfc;
    transition: 0.2s;
}

.grey {
    color: #727272;
}

.blue {
    color: #5661fc;
}

/* FACTS SECTION  */
.facts-section-container{
    height: 60vh;
}
.facts-description{
    padding: 0px 140px 30px 140px;
}
.facts-description > h1{
    font-size: 2.2rem;
    color: #131313;
    margin-bottom: 10px;
}
.facts-description > p{
    font-size: 0.8rem;
    color: #727272;
    margin-bottom: 10px;
}
.facts-boxes{
    padding: 20px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    height: 170px;
    width: 165px;
    padding: 35px 30px;
    border: 1px solid #5661fc;
    border-radius: 5px;
    text-align: center;
}
.box:hover{
    background-color: rgb(235, 230, 230);
    transition: 0.2s;
}
.box h3{
    font-size: 1.5rem;
    color: #424242;
    font-weight: 600;
}
.box h5{
    font-size: 0.8rem;
    color: #727272;
    font-weight: 600;
}